header {
  padding-block: 2rem;
  font: var(--text-md);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem
}

#profile {
  display: flex;
  align-items: center;
  gap: 2rem;
}

#profile > div {
  max-width: 384px;
}

#profile img {
  width: 176px;
  height: 176px;
  border-radius: 50%;
  object-fit: cover;
}

#profile h1 {
  font: var(--text-lg);
  color: var(--text-color-primary);
  margin-bottom: 0.5rem;
}

#info {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 280px;
}

#info li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media (width <= 768px) {
  header .container {
    flex-direction: column;
    gap: 2rem;
    align-items: start;
  }

  #profile {
    flex-direction: column;
    align-items: start;
  }
}